{% extends 'base.html' %}

{% block content %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="bg-light">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">LISTES</a></li>
        <li class="breadcrumb-item active" aria-current="page">Update</li>
      </ol>
    </nav>
    
      <div class="w-50 mt-4">
        <form action="" method="POST">
          
          <div class="form-group mb-3 w-75">
            <label for="titre">Titre</label>
            <input type="text" class="form-control" name="titre" id="titre" value="{{ data['titre'] }}">
          </div>

          <div class="form-group mb-3">
            <label for="content">Contenu</label>
            <textarea class="form-control" name="contenu" id="content" cols="30" rows="5">{{ data['contenu'] }}</textarea>
          </div>

          <select class="form-select w-25" name="marquage">
            <option selected>Select</option>
            <option value="Elevee" name="marquage">Elevée</option>
            <option value="Moyenne" name="marquage">Moyenne</option>
            <option value="Faible" name="marquage">Faible</option>
          </select>
          
          <div class="form-group mt-3">
            <input type="submit" class="btn btn-warning btn-block" value="Mise en jours">
          </div>
        </form>
      </div>
      
{% endblock %}